html {
  width: 100%;
}
body {
  margin: 0;
  width: 100%;
  font-family: 'roboto', helvetica, sans-serif;;
}

@font-face {
  font-family: 'roboto';
  src: url('/fonts/roboto/Roboto-Thin.ttf');
}


// primary color, blue
@color1: #0074D9;
@textColor1: #FFFFFF;

// secondary color, green
@color2: #2ECC40;
@textColor2: #FFFFFF;

// highlight color, yellow
@color3: #FFDC00;
@textColor3: #000000;

// highlight color, red
@color4: #FF4136;
@textColor4: #FFFFFF;


@navHeight: 75px;
@rowHeight: 55px;
@toolbarHeight: 65px;
@inputHeight: 40px;
@buttonHeight: 50px;


.scrollable-y {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@import "views/leaderboard/leaderboard.import.less";
@import "views/account/account.import.less";
@import "styles/input.import.less";


.nav {
  position: fixed;
  top: 0;
  background-color: @color1;
  height: @navHeight;
  width: 100%;
  text-align: center;
  line-height: @navHeight;
  .title {
    color: @textColor1;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 2rem;
  }
  .right {
    color: @textColor1;
    line-height: @navHeight;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    * {
      vertical-align: middle;
      font-size: 3rem;
    }
  }
  .left {
    color: @textColor1;
    line-height: @navHeight;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    * {
      vertical-align: middle;
      font-size: 3rem;
    }
  }
}

.toolbar {
  position: fixed;
  bottom: 0;
  height: @toolbarHeight;
  background-color: @color2;
  width: 100%;
  text-align: center;
  line-height: @toolbarHeight;
  span {
    color: @textColor2;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}
