html {
  width: 100%;
  // height: 100%;
}
body {
  margin: 0;
  width: 100%;
  // min-height: 100%;
}

// primary color, blue
@color1: #0074D9;
@textColor1: #FFFFFF;

// secondary color, green
@color2: #2ECC40;
@textColor2: #FFFFFF;

// highlight color, yellow
@color3: #FFDC00;
@textColor3: #000000;


@navHeight: 75px;
@rowHeight: 55px;
@toolbarHeight: 65px;



.scrollable-y {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@import "views/leaderboard/leaderboard.import.less";
