.account {

  .content {
    margin-top: 15px;
  }

  .error {
    color: @color4;
    text-align: center;
  }

  .message {
    text-align: center;
  }

  input {
      margin-bottom: 25px;
  }

  button, input[type="button"], input[type="submit"] {
    width: 80%;
    margin-top: 15px;
    margin-left: 10%;
    border: 0;
    color: @textColor4;
    background-color: @color4;
    margin-bottom: 15px;
  }
}