<template name="settings">
  <div class="settings page">

    <div class="nav">
      <div class="left exitSettings"><span class="entypo cross"></span></div>
      <div class="title">Settings</div>
    </div>

    {{#with currentUser}}
    <div class="content under-nav above-toolbar">
      <div class="avatar">
        {{> thumbnail editable=true}}
      </div>
              
      <div class="info">
        <div>{{username}}: {{score}}</div>
      </div>
    </div>
    {{/with}}

    <div class="toolbar">
      <div class="logout">logout</div>
    </div>
  </div>
</template>