<template name="signup">
  <div class="signup account page">
    
    <div class="nav"><span class="title">Signup</span></div>

    <div class="content under-nav above-toolbar">
      <form id="signup">
        <input type="text" name="username" placeholder="username" autocorrect="off" autocapitalize="off">
        <input type="text" name="email" placeholder="email" autocorrect="off" autocapitalize="off">
        <input type="password" name="password" placeholder="password" autocorrect="off" autocapitalize="off">
        <input type="password" name="verify" placeholder="verify password" autocorrect="off" autocapitalize="off">
        <div class="error">{{error}}</div>
        <button type="submit">signup</button>
      </form>
    </div>

    <div class="toolbar">
      <div class="toLogin">login</div>
    </div>

  </div>
</template>
