.thumbnail-wrapper {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 1px #414F53 solid;
  overflow: hidden;
  margin: 0 auto;
  position: relative;

  .thumbnail {
    width: 100%;
    height: 100%;
  }

  input {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
  }
}

