<template name="leaderboard">
  <div class="leaderboard">
    <div class="nav">
      <span class="title">Leaderboard</span>
      <div class="right"><i class="entypo logout"></i></div>
    </div>

    {{#each users}}
      {{>user}}
    {{/each}}

    {{#if selected}}
      <div class="add5 toolbar"><span>Add 5</span></div>
    {{else}}
      <div class="toolbar"><span>Select a user</span></div>
    {{/if}}
  </div>
</template>

<template name="user">
  <div class="user {{isSelected}}">
    <span>{{username}}: {{score}}</span>
  </div>
</template>
