.leaderboard {
  .user {
    display: block;
    height: @rowHeight;
    width: 100%;
    text-align: center;
    line-height: @rowHeight;
    
    &.selected {
      background-color: @color3;
      span {
        color: @textColor3;
      }
    }

    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  }
}

