.leaderboard {
  .nav {
    .right {
      svg {
        height: @navHeight - 20px;
        margin-right: -20px;
        fill: white;
      }
    }
  }
  .user {
    display: block;
    height: @rowHeight;
    width: 100%;
    text-align: center;
    line-height: @rowHeight;
    
    &.selected {
      background-color: @color3;
      .info {
        color: @textColor3;
      }
    }

    .info {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
    .thumb {
      height: 50px;
      width: 50px;
      display: inline-block;
    }
  }
}

